# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/vivoDebug/classes/
/base/build/
/base/build/intermediates/javac/debug/classes/
/widget/build/
/widget/build/intermediates/javac/debug/classes/